
/*STYLES FOR TIME LINE HISTOGRAM*/
.time-line-group{
}

.time-line-bg{
    fill: white;
}



.axis path,
.axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}

.timeline-info-text{
    fill: #FFFFFF;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 1px;
}


path {
    /*fill: steelblue;*/
}


.new-keyword-edt{
    border: 1px solid #EEEEEE;
    border-radius: 10px 10px 10px 10px;
    float: left;
    padding: 0px 20px 0px 10px;
    height: 24px;
}

.new-keyword-btn{
    color: #999999;
    float: left;
    height: 24px;
    margin-left: -20px;
    line-height: 24px;
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
    padding-left: 3px;
}

.new-keyword-btn:hover{
    color : #222222;
}

.keyword-vis{
    background-color: #bbb;
    border: 1px solid #bbb;
    border-radius: 10px 10px 10px 10px;
    color: #fefefe;
    /*font-weight: bold;*/
    margin-right: 10px;
    padding: 4px 5px 4px 10px;
    cursor: default;
}

.keyword-vis .rem-keyword{
    color : #ddd;
}

.keyword-vis:hover{
    background-color: rgb(37, 80, 136);
    border: 1px solid rgb(37, 80, 136);
    border-radius: 10px 10px 10px 10px;
    color: white;
    /*font-weight: bold;*/
    margin-right: 10px;
    padding: 4px 5px 4px 10px;
    cursor: pointer;
}


.rem-keyword{
    float : right;
    width: 20px;
    text-align: center;
    cursor: pointer;
}

.rem-keyword:hover{
    color : lightsteelblue;
}

.rule{

}

.grid-text{
}

.document-circles{
    /*fill : #EEE;*/
    /*stroke : #999;*/
    cursor: pointer;
    /*opacity: .7;*/
}

.document-circles-selected{
    fill : #6999c9;
    stroke: rgb(37,80,136);
}


.brush rect.extent {
    fill: #ccc;
    fill-opacity: .2;
}

.brush .resize path {
    fill: #6999c9;
    stroke: #6999c9;
}

.brush .extent {
    stroke: #6999c9;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.x1 path{
    stroke : #EEEEEE;
}

.data-line {
    /*stroke: #999999;*/
    stroke-width: 1;
    fill: none;
    stroke-dasharray: 0;
}

path {
    /*stroke: #eee;*/
    /*stroke-width: 2;*/
    stroke-dasharray: 0;
    /*fill: none;*/
}

.area {
    fill: #CCCCCC;
    opacity: 0.05;
}

.axis text {
    font-size: 1em;
    fill: #ccc;
}

line {
    stroke-width: 0.5;
    /* stroke-dasharray: 3 3; */
    fill: none;
}

.document-assos-line {
    stroke: none;
    stroke-width: 0.5;
    fill: none;
}

.data-point {
    stroke: steelblue;
    stroke-width: 2;
    fill: #FFF;
}

#chart {
    margin: 0;
}

.scale-circles{
    fill : transparent;
    stroke : red;
    stroke-width : 2px;
    stroke-dasharray:20,10,5,5,5,10;
    opacity: .5;
}


.scatter-chart-line-1{
    stroke: #595959;
    stroke-width:1;
}

.scatter-chart-line-2{
    stroke:lightgrey;
    stroke-width:1;
}

.scatter-chart-text{
    font-size: 3em;
    fill: #ddd;
    font-weight: lighter;
}

.association-links{
    stroke-width : 1px;
    stroke : #6999c9;
    pointer-events: none;
}



/*
by rizwan
.document-circles-assoc{
    cursor: pointer;
    fill: #6999c9;
    opacity: 0.7;
    /*stroke: #999999;/*
}/*

/*STYLES FOR THE CUSTOM SLIDEER*/
.slider-axis {
    font: 10px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.slider-axis .domain {
    fill: none;
    stroke: #ccc;
    stroke-width: 10px;
}

.slider .handle {
    fill: #999999;
    pointer-events: none;
}

.slider .handle-text {
    fill: #FFFFFF;
    stroke-width: 0px;
    pointer-events: none;
    text-anchor:middle;
}

.slider-axis text{
    display : none;
}

.doc-assoc-slider-lbl{
    fill : #666;
    font-size : 1.5em;
}

.svg-rect-btn{
    fill : #999999;
    cursor: pointer;
}

.svg-rect-btn text{
    fill : #FFF;
}

.svg-rect-btn-txt{
    fill : #FFF;
    pointer-events: none;
    text-anchor:middle;
}


/*STYLES FOR LEGEND*/
.legend-doc-type-title{
    fill : #FFFFFF;
    font-size : 15px;
}

.doc-type-legend-rect{
    fill : #CCCCCC;
    stroke : #CCCCCC;
    pointer-events: inherit;
}

.doc-type-legend-rect-unselected{
    fill : transparent;
    stroke : #CCCCCC;
    pointer-events: inherit;
}

.doc-type-legend-txt{
    fill : #CCCCCC;
}

.doc-type-legend-group{
    cursor: pointer;
}

.doc-size-legend-circle{
    stroke : #CCCCCC;
    stroke-size : 1px;
    fill : none;
}

.doc-size-legend-txt{
    fill : #CCCCCC;
}

.scatter-chart-lines{
    stroke: #6999c9;
    stroke-width: 1;
    shape-rendering: crispedges;
}

.scatter-chart-lines.association{
    stroke: #aaa;
    stroke-width: 1;
    shape-rendering: crispedges;
}

.scale-value-text{
    fill: #6999c9;
    font-size : 2em;
}

.slider rect {
    cursor: pointer !important;
}

#addNewKeywordEdt{
    color:black;
    border-radius: 0;
}

